<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    -->
  <div>
    <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]='15'>
      <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng">
        <agm-info-window>
          <strong>{{marcador.title}}</strong>
          <p>{{marcador.description}}</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div >   
   <ion-button expand="block" class="b" >Inventario</ion-button>
  </div>

</ion-content>