<ion-header>
  <ion-toolbar>
    <ion-title>
      PARQUES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-searchbar animated></ion-searchbar>


  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div *ngIf="rates">
    <div *ngFor="let rate of rates">

      <div class="ion-padding">
        <ion-card>
          <ion-item>
            <ion-card-title>{{rate.name}}</ion-card-title>
          </ion-item>
          <ion-item>
            <ion-img src="../assets/parque.jpg"></ion-img>
          </ion-item>
          <ion-button expand="full" fill="outline" (click)="pushUserNavCtrl()">View</ion-button>

          <ion-card-content>
            {{rate.id}}
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>



</ion-content>
