<ion-header>
  <ion-toolbar>
    <ion-title>
      PARQUES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" >
  <ion-searchbar animated></ion-searchbar>
  <div class="ion-padding">
    <ion-card>
      <ion-item>
      <ion-card-title>Card Title</ion-card-title>
      </ion-item>
      <ion-item>
        <ion-img src="../assets/parque.jpg"></ion-img>
      </ion-item>
      <ion-button expand="full" fill="outline">View</ion-button>
    
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>   
  </div>
  <div class="ion-padding">
      <ion-card>
        <ion-item>
        <ion-card-title>Card Title</ion-card-title>
        </ion-item>
        <ion-item>
          <ion-img src="../assets/parque.jpg"></ion-img>
        </ion-item>
        <ion-button expand="full" fill="outline">View</ion-button>
      
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>   
    </div>
    <div class="ion-padding">
        <ion-card>
          <ion-item>
          <ion-card-title>Card Title</ion-card-title>
          </ion-item>
          <ion-item>
            <ion-img src="../assets/parque.jpg"></ion-img>
          </ion-item>
          <ion-button expand="full" fill="outline">View</ion-button>
        
          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
        </ion-card>   
      </div>
      <div class="ion-padding">
          <ion-card>
            <ion-item>
            <ion-card-title>Card Title</ion-card-title>
            </ion-item>
            <ion-item>
              <ion-img src="../assets/parque.jpg"></ion-img>
            </ion-item>
            <ion-button expand="full" fill="outline">View</ion-button>
          
            <ion-card-content>
              This is content, without any paragraph or header tags,
              within an ion-card-content element.
            </ion-card-content>
          </ion-card>   
        </div>
        

  
</ion-content>
