<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/mapa"></ion-back-button>
        </ion-buttons>
        <ion-title>Inventario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Sillas</ion-label>
        <ion-badge slot="end" (click)="goToSignup()">10</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Farolas</ion-label>
        <ion-badge slot="end" (click)="goToSignup1()">20</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Arboles</ion-label>
        <ion-badge slot="end" (click)="goToSignup2()">20</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Arcos Baloncesto</ion-label>
        <ion-badge slot="end" (click)="goToSignup3()">2</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Arcos Microfutbol</ion-label>
        <ion-badge slot="end" (click)="goToSignup3()">2</ion-badge>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>