<ion-header>
  <ion-toolbar>
    <ion-title>inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Sillas</ion-label>        
        <ion-badge slot="end">10</ion-badge>      
    </ion-item>  
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Farolas</ion-label>
        <ion-badge slot="end">20</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Arboles</ion-label>
        <ion-badge slot="end">20</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Arcos Baloncesto</ion-label>
        <ion-badge slot="end">2</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="md-eye" slot="start"></ion-icon>
        <ion-label>Arcos Microfutbol</ion-label>
        <ion-badge slot="end">2</ion-badge>
    </ion-item>


    

</ion-content>
